---
import Layout from "../layouts/Layout.astro";
import Player from "../components/Player.astro";
---

<Layout title="listen - SpaceTV">
	<main class="animate__animated animate__fadeIn">
		<h1 class="font-bold text-3xl py-3">listen to SpaceTV</h1>
        <Player />
        <p class="font-bold">for mobile users: you can now install the website's PWA</p>
		<p class="font-bold py-2">streams:</p>
		<ul class="favlist">
			<li><a class="font-bold py-2" href="https://stvpanel.nick909.dev/listen/release/radio.mp3">MP3 320Kbps Stream</a></li>
			<li><a class="font-bold py-2" href="https://stvpanel.nick909.dev/public/release/playlist.m3u">M3U Playlist</a></li>
			<li><a class="font-bold py-2" href="https://stvpanel.nick909.dev/public/release/playlist.pls">PLS Playlist</a></li>
		</ul>
                <p class="font-bold py-2">available on radio-browser.info</p>
	</main>
</Layout>

<style>
	@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
	body {
		@apply flex h-screen;
		padding: 0 1.5rem 1.5rem 1.5rem;
		font-family: "Inter", sans-serif;
	}

	.underline-2 {
		border-bottom: 1px solid;
	}

	.favlist {
		list-style: inside;
	}
    .player {
        background-color: #222222;
    }
</style>
