---
import * as Icon from '@astropub/icons'
const props = Astro.props;
---

<footer class="fixed bottom-0 left-0 right-0">
    <div class="py-4">
        <p class="text-xs font-bold text-center">hosted with azuracast, made by nick909.dev</p>
    </div>
</footer>
<style>
    footer {
        border-top: 1px solid;
    }
</style>
