<nav class="sticky py-5">
    <h1 class="text-3xl font-bold">SpaceTV</h1>
    <span class="flex">your daily soundtrack, 24/7</span>
    <ul class="flex justify-start py-2">
        <li class="mr-6">
            <a
                href="/"
                class="relative py-1 after:absolute after:bottom-0 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-left after:h-[2px] after:text-text"
                >home</a
            >
        </li>
        <li class="mr-6">
            <a
                href="/how"
                class="relative py-1 after:absolute after:bottom-0 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-left after:h-[2px] after:text-text"
                >how</a
            >
        </li>
        <li class="mr-6">
            <a
                href="/listen"
                class="relative py-1 after:absolute after:bottom-0 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-left after:h-[2px] after:text-text"
                >listen</a
            >
        </li>
        <li class="mr-6">
            <a
                href="/socials"
                class="relative py-1 after:absolute after:bottom-0 after:left-0 after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition-all after:origin-left after:h-[2px] after:text-text"
                >socials</a
            >
        </li>
    </ul>
</nav>
